.accordion-parent {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 2px #00000033;
}
.accordion {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.accordion .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  fill: black;
  color: black;
  transition: color 0.15s ease, fill 0.15s ease;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.accordion .toggle:hover {
  color: #6d6d6d;
  fill: #6d6d6d;
}
.accordion:first-child .toggle {
  border-bottom: 0;
}
.accordion .toggle .direction-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  font-weight: 600;
}
.accordion .content-parent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: black;
  border-bottom: 1px solid #aaa;
}
.accordion.toggled .content-parent {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
.accordion .content {
  padding: 10px 15px;
}

/* Nascondi la checkbox originale */
.custom-checkbox {
  display: none;
}

/* Stile per l'etichetta della checkbox */
.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 25px; /* per spostare la checkbox dal testo */
  margin-right: 10px;
  user-select: none;
  vertical-align: middle;
  line-height: 1.5; /* altezza della linea */
  font-size: 0.9rem; /* dimensione del testo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* imposta una larghezza massima */
}

/* Stile per il quadrato della checkbox */
.custom-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  left: 0; /* Posiziona la checkbox a sinistra */
  top: 50%;
  transform: translateY(-50%);
  transition: border-color 0.15s ease, background-color 0.15s ease;
}

/* Colore viola quando la checkbox è spuntata */
.custom-checkbox:checked + .custom-checkbox-label::before {
  background-color: #8e2ad6;
}

/* Mantieni l'allineamento del testo */
.custom-checkbox-label span {
  display: inline-flex;
  vertical-align:middle;
  line-height: 1.5; /* Aggiungi questa linea per garantire che il testo sia allineato verticalmente */
  font-size: 0.9rem; /* Riduci la dimensione del testo */
}

/* Mostra tutto il testo quando si passa sopra con il puntatore */
.custom-checkbox-label:hover {
  white-space: normal;
  overflow:visible;
  text-overflow:clip;
  background-color: #f1f1f1; /* Aggiungi un colore di sfondo se necessario */
  z-index: 1;
  position: relative;
}

.container {
  display: flex;
}